<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uta.infrastructure.persistent.mapper.AwardMapper">

    <resultMap id="BaseResultMap" type="com.uta.infrastructure.persistent.pojo.Award">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="awardId" column="award_id" jdbcType="INTEGER"/>
            <result property="awardKey" column="award_key" jdbcType="VARCHAR"/>
            <result property="awardConfig" column="award_config" jdbcType="VARCHAR"/>
            <result property="awardDesc" column="award_desc" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,award_id,award_key,
        award_config,award_desc,create_time,
        update_time
    </sql>

</mapper>
