<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uta.infrastructure.persistent.dao.RaffleActivityAccountMapper">

    <resultMap id="BaseResultMap" type="com.uta.infrastructure.persistent.po.RaffleActivityAccount">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="activityId" column="activity_id" jdbcType="BIGINT"/>
            <result property="totalCount" column="total_count" jdbcType="INTEGER"/>
            <result property="totalCountSurplus" column="total_count_surplus" jdbcType="INTEGER"/>
            <result property="dayCount" column="day_count" jdbcType="INTEGER"/>
            <result property="dayCountSurplus" column="day_count_surplus" jdbcType="INTEGER"/>
            <result property="monthCount" column="month_count" jdbcType="INTEGER"/>
            <result property="monthCountSurplus" column="month_count_surplus" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,activity_id,
        total_count,total_count_surplus,day_count,
        day_count_surplus,month_count,month_count_surplus,
        create_time,update_time
    </sql>

    <update id="updateAccountQuota" parameterType="com.uta.infrastructure.persistent.po.RaffleActivityAccount">
        update raffle_activity_account
        set
        total_count = total_count + #{totalCount},
        total_count_surplus = total_count_surplus + #{totalCountSurplus},
        day_count = day_count + #{dayCount},
        day_count_surplus = day_count_surplus + #{dayCountSurplus},
        month_count = month_count + #{monthCount},
        month_count_surplus = month_count_surplus + #{monthCountSurplus},
        update_time = now()
        where user_id = #{userId} and activity_id = #{activityId}
    </update>

    <select id="queryActivityAccountByUserId" parameterType="com.uta.infrastructure.persistent.po.RaffleActivityAccount" resultMap="BaseResultMap">
        select user_id, activity_id, total_count, total_count_surplus, day_count,
               day_count_surplus, month_count, month_count_surplus
        from raffle_activity_account
        where user_id = #{userId} and activity_id = #{activityId}
    </select>
    <select id="queryActivityAccountMonthByUserId"
            resultType="com.uta.infrastructure.persistent.po.RaffleActivityAccountMonth">
        select * from raffle_activity_account where
    </select>
    <select id="queryActivityAccountDayByUserId"
            resultType="com.uta.infrastructure.persistent.po.RaffleActivityAccountDay">

    </select>

    <update id="updateActivityAccountSubtractionQuota" parameterType="com.uta.infrastructure.persistent.po.RaffleActivityAccount">
        update raffle_activity_account
        set total_count_surplus = total_count_surplus - 1,
            day_count_surplus = day_count_surplus - 1,
            month_count_surplus = month_count_surplus - 1,
            update_time = now()
        where user_id = #{userId} and activity_id = #{activityId} and total_count_surplus > 0 and day_count_surplus > 0 and month_count_surplus > 0
    </update>

    <update id="updateActivityAccountMonthSurplusImageQuota" parameterType="com.uta.infrastructure.persistent.po.RaffleActivityAccount">
        update raffle_activity_account
        set month_count_surplus = #{monthCountSurplus} - 1, update_time = now()
        where user_id = #{userId} and activity_id = #{activityId}
    </update>

    <update id="updateActivityAccountDaySurplusImageQuota" parameterType="com.uta.infrastructure.persistent.po.RaffleActivityAccount">
        update raffle_activity_account
        set day_count_surplus = #{dayCountSurplus} - 1, update_time = now()
        where user_id = #{userId} and activity_id = #{activityId}
    </update>

</mapper>
