<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uta.infrastructure.persistent.dao.RaffleActivityAccountMonthMapper">

    <resultMap id="BaseResultMap" type="com.uta.infrastructure.persistent.po.RaffleActivityAccountMonth">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="activityId" column="activity_id" jdbcType="BIGINT"/>
            <result property="month" column="month" jdbcType="VARCHAR"/>
            <result property="monthCount" column="month_count" jdbcType="INTEGER"/>
            <result property="monthCountSurplus" column="month_count_surplus" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,activity_id,
        month,month_count,month_count_surplus,
        create_time,update_time
    </sql>

    <update id="updateActivityAccountSubtractionQuota" parameterType="com.uta.infrastructure.persistent.po.RaffleActivityAccountMonth">
        update raffle_activity_account_month
        set month_count_surplus = month_count_surplus - 1, update_time = now()
        where activity_id = #{activityId} and user_id = #{userId} and month = #{month} and month_count_surplus > 0
    </update>
    <select id="queryActivityAccountMonthByUserId"
            resultType="com.uta.infrastructure.persistent.po.RaffleActivityAccountMonth">
        select * from raffle_activity_account_month
        where activity_id = #{activityId} and user_id = #{userId} and month = #{month}
    </select>
</mapper>
