<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uta.infrastructure.persistent.dao.RuleTreeNodeLineMapper">

    <resultMap id="BaseResultMap" type="com.uta.infrastructure.persistent.po.RuleTreeNodeLine">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="treeId" column="tree_id" jdbcType="VARCHAR"/>
            <result property="ruleNodeFrom" column="rule_node_from" jdbcType="VARCHAR"/>
            <result property="ruleNodeTo" column="rule_node_to" jdbcType="VARCHAR"/>
            <result property="ruleLimitType" column="rule_limit_type" jdbcType="VARCHAR"/>
            <result property="ruleLimitValue" column="rule_limit_value" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tree_id,rule_node_from,
        rule_node_to,rule_limit_type,rule_limit_value,
        create_time,update_time
    </sql>
</mapper>
