<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uta.infrastructure.persistent.dao.RuleTreeNodeMapper">

    <resultMap id="BaseResultMap" type="com.uta.infrastructure.persistent.po.RuleTreeNode">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="treeId" column="tree_id" jdbcType="VARCHAR"/>
            <result property="ruleKey" column="rule_key" jdbcType="VARCHAR"/>
            <result property="ruleDesc" column="rule_desc" jdbcType="VARCHAR"/>
            <result property="ruleValue" column="rule_value" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tree_id,rule_key,
        rule_desc,rule_value,create_time,
        update_time
    </sql>
    <select id="queryRuleLocks" resultMap="BaseResultMap">
        select tree_id, rule_value
        from rule_tree_node
        where rule_key = 'rule_lock' and tree_id in
        <foreach item="treeId" index="index" collection="array" open="(" separator="," close=")">
            #{treeId}
        </foreach>
    </select>
</mapper>
